<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{message}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
        <li><a href="/" >HOME</a></li>
        <li><a href="/" >SERVICES</a></li>
        <li><a href="/" >ABOUT </a></li>
        <li><a href="/" >CONTACT US</a></li>
        </ul>
        </nav>
        <div class="container">
        <h1>BEST GYM BEST WEBSITES FORMS $60</h1>
        <form action="/" method="post">
        <input type="text" name="name" id="email"  placeholder="Enter the name ..>
        <input type="email" name="email" id="email" placeholder="Enter the email">
        <input type="number" name="age" id="age"  placeholder="Enter the age">
        <input type="number" name="contact" id="contact" placeholder="Enter the contact number">
        <textarea name="message" id="" cols="30" rows="10" placeholder="Enter the message here...."></textarea>
        <button type="submit" class="btn">Submit</button>
        </form>
        </div>
   
</body>
</html>